@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&family=Inter:wght@200;400;500;800&family=MuseoModerno:wght@300&display=swap');
:root {

 --font-family: 'MuseoModerno', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #76E3E2 1.84%, #FAC469 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #76E3E2-13.86%, #F49867 99.55%);
  
  --color-bg: #77FDAF ;
  --color-footer : #76E3E2;
  --color-text: #121212;
  --color-subtext: #FAC469;
}

