.header {
    background-color: #77FDAF ;
    margin-bottom: 2000px;
}

.img-container {
    width: 30%;
}

img {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 


header svg {
    margin-bottom: -4px;
    animation: 1s movePath infinite alternate;
    
}

/* @keyframes movePath {
    from {
      d: path("M0,224L80,213.3C160,203,320,193,480,202.7C640,212,800,240,960,245.3C1120,250,1280,232,1360,224L1440,216L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z");
    }
    to {
      d: path("M0,234L80,243.3C160,253,320,273,480,262.7C640,252,800,212,960,207.3C1120,202,1280,232,1360,240L1440,248L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z");
    }
  } */
  

  
