.header {
    background-color: #FAC469 ;
    margin-bottom: 2000px;
    padding-top: 2em;
}

.img-container {
    width: 25%;
    height: 100%;
}

img {
    width: 100%;
    border-radius: 50%;
    max-height: 100%;
}


header svg {
    margin-bottom: -45px;
}

header div{
    max-height: 450px;
}

h2 {
    font-size: 3em;
    color: #082c4c;

}

p {
    font-size: 1.5em;
    color:  #082c4c;

}

.presentation-container {
    width: 50%;
    min-height: 100%;
}

.presentation-container button {
    width: 50%;
    background-color: var(--color-footer);
    padding: 0.5em 1.5em;
    border-radius: 1.5em;
    /* border: 2px solid var(--color-subtext); */
    color: var(--color-text) ;
    width: 50%;
    font-size: 1.5em;
    text-decoration: none;
    border: none;
}
